@model Curd_Operation080622.Models.Teacher

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher_Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher_Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher_Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher_Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher_Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher_Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teahching_Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teahching_Class)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hobbie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hobbie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Teacher_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
